.pagination {
  justify-content: center;
  flex-grow: 1;
  &__wrapper {
    display: flex;
    p {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }
  }
}

@media (min-width: 1921px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1600px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .pagination {
    order: 3;
    &__wrapper {
      flex-wrap: wrap;
    }
    &__page {
      order: 1;
      margin-right: auto;
    }
    &__total {
      order: 2;
      justify-content: flex-end;
    }
    &__page, &__total {
      width: 50%;
    }
  }
}

@media (max-width: 320px) {
}
