.filters {
  position: relative;
  z-index: 10;
  margin-bottom: 8px;
}

@media (min-width: 1921px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1600px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}

@media (max-width: 320px) {
}
