.list {
  .card {
    flex-direction: row;
    padding: 1rem;
    &_img {
      height: 120px;
      min-height: 120px;
      width: 120px;
      min-width: 120px;
    }
    &_descr {
      display: flex;
      flex-direction: column;
      margin-left: 12px;
      flex-grow: 1;
    }
    &_name {
      font-weight: 600;
      width: 150px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &_status {
      margin-bottom: auto;
      color: grey;
    }
    &_col {
      &:nth-child(4n) {
        margin-bottom: 12px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    button {
      align-self: flex-end;
      width: 100%;
    }
  }
}
