.list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  margin-bottom: 12px;
  .card {
    flex-direction: row;
    padding: 12px;
    &_img {
      height: 100px;
      min-height: 110px;
      min-width: 110px;
    }
    &_descr {
      display: flex;
      width: fit-content;
      flex-direction: column;
      margin-left: 12px;
      flex-grow: 1;
    }
    &_name {
      width: 140px;
      font-weight: 600;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &_status {
      margin-bottom: auto;
      color: grey;
    }
    &_col {
      &:nth-child(4n) {
        margin-bottom: 12px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    button {
      align-self: flex-end;
      width: 100%;
    }
  }
}

@media (min-width: 1921px) {
}

@media (max-width: 1400px) {
  .list {
    .card {
      &_name {
        width: 110px;
      }
    }
  }
}

@media (max-width: 1600px) {
}

@media (max-width: 1200px) {
  .list {
    .card {
      &_col {
        &:nth-child(3n) {
          margin-bottom: 12px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .list {
    .card {
      &_col {
        &:nth-child(2n) {
          margin-bottom: 12px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .list {
    .card {
      &_col {
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
}
