.popover {
  &__item {
    display: flex;
    &__title {
      font-weight: 600;
      min-width: 80px;
    }
    &__value {
      display: flex;
      flex-wrap: wrap;
      & > p {
        color: #0d6efd;
        text-decoration: underline;
        cursor: pointer;
      }
      &.episodes {
        flex-wrap: wrap;
        a:not(:last-child) {
          margin-right: 6px;
        }
      }
    }
  }
}

@media (min-width: 1921px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1600px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .popover {
    position: fixed !important;
  }
}

@media (max-width: 576px) {
}

@media (max-width: 320px) {
}
